:root {

    /*==============================  COLORS  ==============================*/
    --red-colour: hsla(360, 80%, 53%, 1);
    --secondary-colour: hsla(39, 80%, 53%, 1);
    --green-colour: hsla(133, 80%, 53%, 1);
    --blue-colour: hsla(222, 80%, 53%, 1);
    --primary-colour: hsla(311, 80%, 53%, 1);

    --red-colour-dark: hsla(360, 100%, 30%, 1);
    --secondary-colour-dark: hsla(39, 100%, 30%, 1);
    --green-colour-dark: hsla(133, 100%, 30%, 1);
    --blue-colour-dark: hsla(222, 100%, 30%, 1);
    --primary-colour-dark: hsla(311, 100%, 30%, 1);

    --red-colour-for-hero-box-image: hsla(360, 50%, 20%, 0.7);
    --secondary-colour-for-hero-box-image: hsla(39, 50%, 20%, 0.7);
    --green-colour-for-hero-box-image: hsla(133, 50%, 20%, 0.7);
    --blue-colour-for-hero-box-image: hsla(222, 50%, 20%, 0.7);
    --primary-colour-for-hero-box-image: hsla(311, 50%, 20%, 0.7);

    --gray: hsla(210, 16.667%, 97.647%, 1);
    --webtypes-section-colour-white: hsla(0, 0%, 100%, 1);
    --h1-dark: #151A1E;

    /*==============================  PADDING  ==============================*/
    --p-ss: 0.5rem;
    --p-s: 1rem;
    --p-m: 0.5rem;
    --p-l: 1rem;
    --p-xl: 12rem;
    --p-xxl: 1.5rem;

    /*==============================  PADDING VERTICAL  ==============================*/
    --pvert-ss: 0.5rem;
    --pvert-s: 1rem;
    --pvert-m: 1rem;
    --pvert-l: 1rem;
    --pvert-xl: 1rem;

    /*==============================  PADDING HORIZONTAL  ==============================*/
    --phor-ss: 0.5rem;
    --phor-s: 1rem;
    --phor-m: 1rem;
    --phor-l: 1rem;
    --phor-xl: 1rem;

    /*==============================  MARGIN  ==============================*/
    --m-ss: 0.5rem;
    --m-s: 1rem;
    --m-m: 1.5rem;
    --m-l: 1rem;
    --m-xl: 1rem;

    /*==============================  MARGIN VERTICAL  ==============================*/
    --mvert-ss: 0.5rem;
    --mvert-s: 1rem;
    --mvert-m: 1rem;
    --mvert-l: 1rem;
    --mvert-xl: 1rem;

    /*==============================  MARGIN HORIZONTAL  ==============================*/
    --mhor-ss: 0.5rem;
    --mhor-s: 1rem;
    --mhor-m: 1rem;
    --mhor-l: 1rem;
    --mhor-xl: 1rem;

    /*==============================  WIDTH  ==============================*/
    --width-ss: 0.5rem;
    --width-s: 1rem;
    --width-m: 1rem;
    --width-l: 1rem;
    --width-xl: 1rem;

    /*==============================  FONT SIZES  ==============================*/
    --font-ss: 0.5rem;
    --font-s: 1rem;
    --font-m: 1.5rem;
    --font-l: 1.5rem;
    --font-xl: 4rem;
    --font-size: 62.5%;

    /*==============================  !!HIGHLY EXPERIMENTING WITH THESE!  ==============================*/
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    /*EXAMPLE ON USAGE=> h1 {font-size: var(--21px);}*/
    /*===================  OR  =============================*/
    /*If you use a design system with a spacing scale, we can use this same trick:*/
    /*html*/
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.3125rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 2.652rem;
    --font-size-4xl: 4rem;

    /*==============================  BORDER RADIUS  ==============================*/
    --brad-ss: 0.5rem;
    --brad-s: 1rem;
    --brad-m: 1.5rem;
    --brad-l: 1rem;
    --brad-xl: 1rem;

    /*==============================  BOX-SHADOWS  ==============================*/
    --bs-1: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0px 0 1px rgba(10, 10, 10, 0.2);
    --bs-2: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5),
        0 0px 0 1px rgba(10, 10, 10, 0.06);
    --bs-3: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0px 0 1px rgba(10, 10, 10, 0.2);
    --bs-4: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0px 0 1px rgba(10, 10, 10, 100deg);
    /*--bs-5: 1px 1px 50px 0px hsl(0, 0%, 50.196%, 0.1);*/
    --bs-5: 0px 2px 4px rgba(51, 55, 59, 0.08),
        0px 1px 10px rgba(51, 55, 59, 0.06);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*position: relative;*/
    font-family: 'Inter', sans-serif;
    /*height: 100%;*/
    /*font-size: 16px;*/
    /*max-width: 100vw;*/


}

html {}

body {
    /*height: 100vh;*/

}

/*=========================  HEADER && HERO-BOX && HELPERS  =========================*/
.hero-text {
    font-weight: 800;
    /*margin: var(--m-s);*/
    /*font-size: var(--font-l);*/
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 60px;
    color: peachpuff;
}

.hero-box {
    /*background: linear-gradient(230deg, var(--red-colour), var(--green-colour), var(--primary-colour), var(--secondary-colour), var(--blue-colour));*/
    background-image: linear-gradient(230deg, var(--red-colour-for-hero-box-image), var(--green-colour-for-hero-box-image), var(--primary-colour-for-hero-box-image), var(--secondary-colour-for-hero-box-image), var(--blue-colour-for-hero-box-image)), url(https://d2gz8p6ykzvfb0.cloudfront.net/storage/v4h0B8oRRETVfrlceC0vbGziNSzoX68dI3q0jwoZ.jpg);
    /*background-size: 1000% 1000%;*/
    /*height: 100%;*/
    display: block;
    align-items: center;
    /*margin-bottom: 8rem;*/
    justify-content: center;
    background-size: 100%;
    background-position: center;
    animation: lander 100s ease infinite;
    /*box-shadow: var(--bs-2);*/

}



@keyframes lander {
    0% {
        background-position: 0% 96%
    }

    50% {
        background-position: 100% 5%
    }

    100% {
        background-position: 0% 96%
    }
}



.hero-text-and-contact-card {
    font-size: var(--font-l);
    display: inline-grid;
    text-transform: uppercase;
    text-align: start;
    grid-template-columns: 65% 35%;
    justify-content: end;
    align-items: end;


}

/*.hero-text-and-contact-card div {
    align-self: end;
    justify-self: center;
}*/






.hero-box nav ul {
    display: inline-flex;
    padding: var(--p-ss);

}

.hero-box nav ul li {
    display: inline-flex;
    padding: var(--p-ss);

}

.nav-and-logo-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background: red;*/
    padding: var(--p-ss);
    /*height: 10vh;*/
}

nav ul li {
    /*background: red;*/
    text-transform: uppercase;
    padding: var(--p-ss);
    border-radius: var(--brad-ss);
    margin: var(--m-ss);
    font-size: var(--font-s);

}

nav ul li:nth-child(1) {
    background: var(--green-colour);
}

nav ul li:nth-child(2) {
    background: var(--primary-colour);
}

nav ul li:nth-child(3) {
    background: var(--secondary-colour);
    z-index: 1;
    /*transform: rotate(6deg) translatey(10px);*/
    animation: request-a-quota-animation 20s alternate infinite;

}

@keyframes request-a-quota-animation {
    0% {


        transform: rotate(0) translatey(0);
    }

    50% {
        transform: rotate(7deg) translatey(11px);
    }

    100% {
        transform: rotate(-0deg) translatey(-0px);
    }
}

nav ul li:nth-child(4) {
    background: var(--blue-colour);
}

nav ul li:nth-child(5) {
    background: var(--red-colour);
}

.nav-logo {
    width: 6%;
    height: 6%;
}



.hero-text:not(#contact-us-swinging-billboard) {
    height: 2rem;

}

.hidden {
    display: none;
}


.hero-box-buttons {
    display: inline-flex;

    align-items: center;
    justify-content: center;
}





/*==============================  COMPONENTS  ==============================*/
/*=========================  BUTTON  =========================*/
.btn {
    border-radius: var(--brad-ss);
    padding: var(--p-s);
    font-size: var(--font-s);
    text-transform: uppercase;
    margin: var(--m-m);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 100deg);
    border: none;
}


/*=========================  CARD  =========================*/
.card {
    background-color: white;
    border-radius: var(--brad-s);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 100deg);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    margin: var(--m-ss);
    padding: var(--p-ss);

}

/*=========================  CONTACT && FORM  =========================*/
.contact-card {
    background-color: white;
    border-radius: var(--brad-s);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.2);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.06);

    color: #4a4a4a;
    max-width: 80%;
    position: relative;
    margin: var(--m-ss);
    padding: var(--p-ss);
    display: inline-block;
    align-items: end;
    justify-content: end;
    top: 10rem;
    animation: transform 10s ease infinite;
}

.form-control input[type='text'],
.form-control input[type='email'],
.form-control select,
.drop-us-a-line-hover,
.showcase-form {
    border: 0;
    margin: var(--m-ss);

    /*border-bottom: 1px solid #b4becb;*/
    padding: var(--p-ss);
    width: 95%;
    font-size: var(--font-s);
    border-radius: var(--brad-ss);
}


.showcase-form input:focus {
    outline: none;
    background-color: rgba(60, 36, 163, 0.06);
    transition: background 0.5s
}


/*.showcase-form {
    border: 0;
    margin: var(--m-ss);

    border-bottom: 1px solid #b4becb;
    width: 100%;
    font-size: var(--font-s);
    transition: background 0.5s
}*/


/*=========================  HELPERS  =========================*/
.has-fancy-gradient {
    background: linear-gradient(230deg, var(--red-colour), var(--green-colour), var(--primary-colour), var(--secondary-colour), var(--blue-colour));
    background-size: 1000% 1000%;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    -webkit-animation: lander 50s ease infinite;
    -moz-animation: lander 50s ease infinite;
    -o-animation: lander 50s ease infinite;
    animation: lander 50s ease infinite;
}

@keyframes lander {
    0% {
        background-position: 0% 96%
    }

    50% {
        background-position: 100% 5%
    }

    100% {
        background-position: 0% 96%
    }
}

.contact-card.has-animation-rotate {
    height: auto;
    -webkit-animation: transform 10s alternate infinite;
    -moz-animation: transform 10s alternate infinite;
    -o-animation: transform 10s alternate infinite;
    animation: transform 10s alternate infinite;
}

@keyframes transform {


    /* 0% {
     transform: rotate(0deg);
 }

 50% {
     transform: rotate(1.5deg);
 }

 100% {
     transform: rotate(2.5deg);
 }*/

}

.contact-card.has-fancy-gradient {
    background: linear-gradient(230deg, var(--red-colour), var(--green-colour), var(--primary-colour), var(--secondary-colour), var(--blue-colour));
    height: auto;
    background-size: 1000% 1000%;
    display: block;
    align-items: center;
    justify-content: center;
    animation: contact-swing 20s alternate infinite;

}


@keyframes contact-swing {

    0% {
        background-position: 0% 96%;
        transform: rotate(-5deg) translate(50px);
    }

    50% {
        background-position: 100% 5%;
        transform: rotate(5deg)translate(-50px);

    }

    100% {
        background-position: 0% 96%;
        transform: rotate(-5deg)translate(50px);
    }
}


.btn.is-hero-boxcta.has-fancy-gradient {
    height: auto;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.06);
}

.btn.is-hero-box-learn-more.has-fancy-gradient {
    height: auto;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.06);
    /*-webkit-animation: lander 50s ease infinite;
-moz-animation: lander 50s ease infinite;
-o-animation: lander 50s ease infinite;
animation: lander,
contact-rotate,
typ 300s alternate infinite;
*/
}

/*@keyframes typ {
    0% {
        background-position: 0% 96%;
        transform: translatex(0px) translatey(0px) rotate(0deg);
    }

    50% {
        background-position: 100% 5%;
        transform: translatex(300px) translatey(300px) rotate(200deg);

    }

    100% {
        background-position: 0% 96%;
        transform: translatex(-300) translatey(-300) rotate(-200deg);

    }
}*/




.btn.is-for-contact-card.has-fancy-gradient {
    height: auto;
    padding: var(--p-ss);
    /*margin: 0.5rem 0 9px 0 !important;*/
    margin: 0 9rem !important;
    font-size: 0.8rem;
    border-radius: var(--brad-ss);
    display: inline-flex;
    /* align-items: center;
 justify-content: center;*/

}



/*==============================  NAVBAR && HELPERS==============================*/
.navbar {
    display: inline-flex;
}




/*=========================  PSEUDO CLASSES => ANIMATIONS  =========================*/

#contact-us-swinging-billboard {
    position: relative;
    width: 150px;
    height: 100px;
    margin: 20px 0;
    background: var(--secondary-colour);
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    /*text-indent: .1em;*/
    top: -13.3rem;
    left: 59rem;
    z-index: 1;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5),
        0 0px 0 1px rgba(10, 10, 10, 0.06);
    font-size: var(--font-s);
    background: linear-gradient(230deg, var(--red-colour), var(--green-colour), var(--primary-colour), var(--secondary-colour), var(--blue-colour));
    background-size: 1000% 1000%;

    animation: lander,
        contact-rotate 20s alternate infinite;
}


@keyframes contact-rotate {
    0% {
        background-position: 0% 96%;
        transform: rotate(-5deg) translate(50px);
    }

    50% {
        background-position: 100% 5%;
        transform: rotate(5deg)translate(-50px);

    }

    100% {
        background-position: 0% 96%;
        transform: rotate(-5deg)translate(50px);
    }
}

#contact-us-swinging-billboard:before {
    content: "contact us today😊💛!";
    /*box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.06);*/

    position: absolute;
    font-weight: 700;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
    padding: var(--p-s);
    background-size: 1000% 1000%;
    /*background: linear-gradient(230deg, var(--red-colour), var(--green-colour), var(--primary-colour), var(--secondary-colour), var(--blue-colour));*/
    background-size: 1000% 1000%;

    animation: lander 20s ease infinite;
}


@keyframes lander {
    0% {
        background-position: 0% 96%
    }

    50% {
        background-position: 100% 5%
    }

    100% {
        background-position: 0% 96%
    }

}



#infinity-one {
    position: relative;
    width: 212px;
    height: 0px;
    box-sizing: content-box;
    top: -24.9rem;
    left: 3.9rem;
    transition: all ease-in-out 2s;
    font-size: var(--font-ss);
    transform:
        /* translate(1px)*/
        rotate(88deg);



}

#swinging-rod {
    width: 10px;
    height: 65px;
    position: relative;
    background: linear-gradient(230deg, var(--red-colour), var(--green-colour), var(--primary-colour), var(--secondary-colour), var(--blue-colour));
    /*transform: rotate(271deg);*/

    /*rotate(271deg)*/
    ;
    top: -24rem;
    left: 63rem;

    background-size: 1000% 1000%;
    display: block;
    /*transform: rotate(-5deg) translate(30px);*/

    align-items: center;
    justify-content: center;

    animation:
        swinging-rod-anime 20s alternate infinite;

}



@keyframes swinging-rod-anime {

    0% {
        background-position: 0% 96%;
        transform: rotate(-20deg)
            /*translate(30px)*/
        ;
    }

    50% {
        background-position: 100% 5%;
        transform: rotate(20deg)
            /*translate(-30px)*/
        ;

    }

    100% {
        background-position: 0% 96%;
        transform: rotate(-20deg)
            /*translate(30px)*/
        ;
    }
}

.news-letter-check {
    background: hsla(133, 100%, 53%, 0.3);
    border-radius: var(--brad-ss);
    margin: var(--p-ss);
    font-size: 0.9rem;

    color: aliceblue;
}


.showcase-form:last-child:hover:not(.text-area-placeholder) {
    background: rgba(255, 0, 0, 0.01);
    border-radius: var(--brad-ss);
    transition: background 0.5s
}


/*.drop-us-a-line-hover {
    border-radius: var(--brad-s);
    transition: background 0.5s;
    margin: var(--m-ss);

}
*/

.drop-us-a-line-hover:hover {
    background: var(--secondary-colour);
    border-radius: var(--brad-ss);
    color: #fff;
    transition: background 0.5s
}


span {
    background: linear-gradient(230deg, var(--red-colour), var(--green-colour), var(--primary-colour), var(--secondary-colour), var(--blue-colour));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



.web-types-container {
    font-weight: 400;
    text-transform: uppercase !important;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: red;
    transition: all ease-in-out 1s;
    overflow: hidden;
    width: 100%;
    /*position: relative;*/

}

.web-types-container img {
    opacity: 0.8;
    transition: all ease-in-out 1s;

}

.web-types-container:hover img {
    opacity: 1;
    transition: all ease-in-out 1s;

    /*   transform: translateY(10px);
   transition: all ease-in-out 1s;*/
}



/*==============================  WEBTYPES INDIVIDUAL HOVER PROPS STARTS HERE😖  ==============================*/

.web-types-container:hover .folder-svg {
    transform: translateX(-400px);
    transition: all ease-in-out 0.5s;
    z-index: -20;
}

.web-types-container:hover .folder1-svg {
    transform: translateX(-200px);
    transition: all ease-in-out 1s;
    z-index: -10;
}

.web-types-container:hover .folder2-svg {
    transform: translateY(300px) translateX(-110px);
    transition: all ease-in-out 0.5s;
    z-index: -10;

}

.web-types-container:hover .folder3-svg {
    transform: translateY(300px) translateX(-500px);
    transition: all ease-in-out 1s;
    z-index: -10;


}

.web-types-container:hover .folder4-svg {
    transform: translateY(-130px) translateX(500px);
    transition: all ease-in-out 0.5s;
    z-index: -10;

}

.web-types-container:hover .folder5-svg {
    transform: translateY(230px) translateX(500px);
    transition: all ease-in-out 1s;
    z-index: -10;

}

.web-types-container:hover .folder6-svg {
    transform: translateY(170px) translateX(600px);
    transition: all ease-in-out 0.5s;
    z-index: -10;
}

.web-types-container:hover .folder8-svg {
    transform: translateY(-320px);
    transition: all ease-in-out 1s;
    z-index: -10;
}

.web-types-container:hover .blog-svg {
    transform: translateX(250px);
    transition: all ease-in-out 0.7s;
    z-index: -10;
}

.web-types-container:hover .blog1-svg {
    transform: translateY(-30px) translateX(270px);
    transition: all ease-in-out 1s;
    z-index: -10;
}

.web-types-container:hover .blog2-svg {
    transform: translateY(-100px) translateX(270px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blog3-svg {
    transform: translateY(-270px) translateX(500px);
    transition: all ease-in-out 0.4s;
}

.web-types-container:hover .blog4-svg {
    transform: translateY(230px) translateX(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blog5-svg {
    transform: translatey(110px) translatex(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blog6-svg {
    transform: translateY(-270px) translateX(500px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blog7-svg {
    transform: translateY(-300px) translateX(-270px);
    transition: all ease-in-out 0.8s;
    z-index: -11;
}

.web-types-container:hover .business-man-svg {
    transform: translateY(-250px) translateX(370px);
    transition: all ease-in-out 0.6s;
}

.web-types-container:hover .business-1-svg {
    transform: translatey(110px) translatex(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .business-2-svg {
    transform: translateY(-230px) translateX(-500px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .clip-svg {
    transform: translatey(280px) translatex(-400px);
    transition: all ease-in-out 0.35s;
    z-index: -9;
}

.web-types-container:hover .blank-screen-1 {
    transform: translatey(110px) translatex(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blank-screen-2 {
    transform: translatey(110px) translatex(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blank-screen-3 {
    transform: translatey(110px) translatex(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blank-screen-4 {
    transform: translatey(110px) translatex(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .blank-screen-5 {
    transform: translatey(110px) translatex(20px);
    transition: all ease-in-out 1s;
}

.web-types-container:hover .donation-charity-svg {
    transform: translateY(170px) translateX(-470px) rotate(90deg);
    transition: all ease-in-out 1s;
    z-index: -9;
}




.webtypes-heading {
    /*font-size: var(--font-l);*/
    /*font-size: var(--font-size-lg);*/
    font-weight: 500;
    line-height: 2rem;
    grid-row: 3/3;
    grid-column: 1/9;
    padding: 10rem;
    text-align: center;
    top: 110%;
    opacity: 1 !important;
    top: 47.7rem;
    position: absolute;

    /*letter-spacing: 1px;*/

}

.webtypes-heading h1 {
    font-size: 3rem;
    font-size: var(--font-size-3xl);
    color: var(--h1-dark);
    color: hsl(0, 0%, 18%);
    margin: var(--font-size-md);
    line-height: 3rem;
    word-wrap: wrap;
    text-transform: uppercase;
}


.webtypes-heading p {
    color: #1C1A1E;
    font-size: var(--font-size-l);
    /*font-size: var(--16px);*/

    /*margin-top: 2rem;*/
    font-weight: 300;
    line-height: 1.9rem;
    text-transform: uppercase;

}

/*.text-center {
    align-items: center;
    justify-content: center;
    word-wrap: wrap;
    text-align: center;
}*/





.clip-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    z-index: 1;
    padding: var(--p-ss);
    position: absolute;
    height: 7%;
    width: 3.5%;
    top: 104%;
    left: 94%;
    height: 3rem;
    width: 2.8rem;
    top: 45.3rem;
    left: 75rem;
}

.donation-charity-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    height: 28%;
    height: 12.3rem;
    width: 10%;
    width: 8rem;
    top: 110%;
    top: 48rem;
    left: 92%;
    left: 73.5rem;
    /*left: 85%;*/
}

.folder-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    /*padding: var(--p-ss);*/
    position: absolute;
    height: 28%;
    height: 12.3rem;
    width: 10%;
    width: 8rem;
    top: 140%;
    top: 61rem;
    left: 97%;
    left: 77.6rem;
    /*left: 86%;*/
}


.folder1-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    /*padding: var(--p-ss);*/
    position: absolute;
    height: 28%;
    width: 10%;
    top: 140%;
    left: 86%;
    height: 12.3rem;
    width: 8rem;
    top: 61rem;
    left: 68.8rem
}

.folder-wrap img {
    overflow: hidden !important;
    color: #000;
    background: #000;
    /*max-width: 90px;*/
}

.folder2-svg {
    /*height: 10vh;*/
    background: white;
    box-shadow: var(--bs-5);
    border-radius: 0 0 0.5rem 0.5rem;
    position: absolute;
    padding: 0px;
    height: 10%;
    width: 10%;
    top: 100%;
    left: 50%;
    height: 4.5rem;
    width: 8rem;
    top: 43.5rem;
    left: 40rem;
}

.folder3-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: 0 0 0.5rem 0.5rem;
    position: absolute;

    padding: 0;
    height: 10%;
    width: 10%;
    top: 100%;
    left: 80%;
    height: 4.5rem;
    width: 8rem;
    top: 43.5rem;
    left: 64rem;

}

.folder4-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    /*padding: var(--p-ss);*/
    height: 15%;
    width: 15%;
    top: 160%;
    left: -9%;
    height: 6.55rem;
    width: 12rem;
    top: 69.8rem;
    left: -7rem;
}

.folder5-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    padding: var(--p-ss);
    height: 7%;
    width: 3.5%;
    top: 105%;
    left: -1%;
    height: 2.9rem;
    width: 2.8rem;
    top: 45.8rem;
    left: -0.8rem;
}

.folder6-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    /*padding: var(--p-ss);*/
    /*padding: 0.3rem;*/
    height: 22%;
    width: 15%;
    top: 116%;
    left: -3%;
    height: 9.6rem;
    width: 11.9rem;
    top: 50.4rem;
    left: -2.4rem;
}


.blank-screen-2 {
    /*height: 10vh;*/
    background: #F2F5F8;
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;

    /*padding: var(--p-ss);*/
    padding: 0.3rem;
    height: 16%;
    width: 10%;
    top: 114%;
    left: 10%;
    height: 6rem;
    width: 8rem;
    top: 49.6rem;
    left: 8rem;
    z-index: -1;
}


.blog-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;

    /*padding: var(--p-ss);*/
    padding: 0.3rem;
    height: 7%;
    width: 3.5%;
    top: 140%;
    left: 8%;
    height: 2.7rem;
    width: 2.9rem;
    top: 61rem;
    left: 7rem;
}

.blog7-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;

    /*padding: var(--p-ss);*/
    padding: 0.3rem;
    height: 7%;
    width: 3.5%;
    top: 140%;
    left: 8%;
    height: 3.7rem;
    width: 3.7rem;
    top: 81rem;
    left: 58rem;
}



.blog1-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;

    padding: var(--p-ss);
    height: 11.5%;
    width: 6%;
    top: 145%;
    left: 1%;
    height: 4.6rem;
    width: 4.8rem;
    top: 63rem;
    left: 1rem;
}

.blog2-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    padding: 0;
    height: 15%;
    width: 15%;
    top: 160%;
    left: 8%;
    height: 6.6rem;
    width: 11.9rem;
    top: 69.8rem;
    left: 6.2rem;
}

.blog3-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    /*padding: var(--p-ss);*/
    height: 16%;
    width: 15%;
    top: 180%;
    left: -3%;
    height: 7.3rem;
    width: 11.9rem;
    top: 78.3rem;
    left: -2.4rem;
}

.blog4-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    /*padding: var(--p-ss);*/
    position: absolute;
    height: 6rem;
    width: 9rem;
    top: 47rem;
    left: 30%;
    left: 25rem;
}

img {

    border-radius: var(--brad-ss);
    /*display: block;*/
    /*max-width: 100%;*/
    /* margin: 0 !important;
 padding: 0 !important;*/

}

.blog5-svg {
    /*height: 10vh;*/
    background: white;
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    /*padding: var(--p-ss);*/
    position: absolute;
    height: 7%;
    width: 3.5%;
    top: 177%;
    left: 63%;
    height: 3rem;
    width: 2.8rem;
    top: 77.1rem;
    left: 50.6rem;
}

.blog6-svg {
    /*height: 10vh;*/
    background: white;
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    padding: var(--p-ss);
    position: absolute;
    height: 7%;
    width: 3.5%;
    top: 181%;
    left: 14%;
    height: 3rem;
    width: 3rem;
    top: 79rem;
    left: 11rem;
}


.business-2-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: 0.5rem 0 0.5rem 0rem;
    position: absolute;
    height: 28%;
    height: 10rem;
    width: 10%;
    width: 8rem;
    top: 172%;
    top: 74rem;
    left: 80%;
    left: 61rem;
    left: 98%;
    left: 78.7rem;
    /*overflow-y: hidden !important;*/
}


.business-man-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    padding: var(--p-ss);
    position: absolute;
    height: 9%;
    width: 5.5%;
    top: 180%;
    left: 25%;
    height: 4rem;
    width: 4.3rem;
    top: 78.5rem;
    left: 20rem;
}


.blank-screen-1 {
    /*height: 10vh;*/
    background: #F2F5F8;
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    padding: var(--p-ss);
    position: absolute;
    height: 10%;
    width: 6.5%;
    top: 119%;
    left: 83%;
    height: 4.4rem;
    width: 5rem;
    top: 52rem;
    left: 66.5rem;
}


.blank-screen-3 {
    /*height: 10vh;*/
    background: #F2F5F8;
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    padding: var(--p-ss);
    position: absolute;
    height: 15%;
    width: 10.5%;
    top: 110%;
    left: 67%;
    height: 6.8rem;
    width: 8.6rem;
    top: 47.8rem;
    left: 53.7rem;
}


.blank-screen-4 {
    /*height: 10vh;*/
    background: #F2F5F8;
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    padding: var(--p-ss);
    padding: 0.3rem;
    position: absolute;
    height: 15%;
    width: 10.5%;
    top: 167.5%;
    left: 70.2%;
    height: 6.9rem;
    width: 8rem;
    top: 73rem;
    left: 56.2rem;
}

.blank-screen-5 {
    background: #F2F5F8;
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    position: absolute;
    padding: var(--p-ss);
    padding: 0.3rem;
    height: 7%;
    width: 3.5%;
    top: 140%;
    left: 8%;
    height: 5rem;
    width: 6.9rem;
    top: 74rem;
    left: 28rem;
}

.business-1-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    /*padding: var(--p-ss);*/
    position: absolute;
    height: 7.5%;
    width: 4%;
    top: 160.3%;
    left: 81%;
    height: 3.3rem;
    width: 3.2rem;
    top: 69.8rem;
    left: 69rem;
}


.bank-1-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: var(--brad-ss);
    /*padding: var(--p-ss);*/
    position: absolute;
    height: 7.5%;
    width: 4%;
    top: 170%;
    left: 93%;
    height: 3.2rem;
    width: 3.3rem;
    top: 74.2rem;
    left: 74.3rem;
}

.folder8-svg {
    /*height: 10vh;*/
    background: hsl(0, 0%, 100%, 1);
    box-shadow: var(--bs-5);
    border-radius: 0.5rem 0.5rem 0 0;
    /*padding: var(--p-ss);*/
    position: absolute;
    height: 16%;
    width: 40%;
    top: 184%;
    left: 30%;
    height: 6.3rem;
    width: 32rem;
    top: 81rem;
    left: 24rem;
}


/*.tester1 {
    font-size: var(--14px);

}

.tester2 {
    font-size: var(--15px);

}

.tester3 {
    font-size: var(--16px);

}

.tester4 {
    font-size: var(--17px);

}

.tester5 {
    font-size: var(--18px);

}

.tester7 {
    font-size: var(--19px);

}

.tester7 {
    font-size: var(--20px);

}*/
/*.tester1 {
    font-size: var(--font-size-xs);

}

.tester2 {
    font-size: var(--font-size-sm);

}

.tester3 {
    font-size: var(--font-size-md);

}

.tester4 {
    font-size: var(--font-size-l);

}

.tester5 {
    font-size: var(--font-size-lg);

}
.tester6 {
    font-size: var(--font-size-2xl);

}

.tester7 {
    font-size: var(--font-size-3xl);

}

.tester8 {
    font-size: var(--font-size-4xl);

}*/

.for-info {
    /*height: 100%;*/
    margin-top: 50rem;
    background: hsla(123, 50%, 50%, 1.0);
    /* top: 100;
    bottom: 100;*/
}

.infographics-and-information-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}